<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title
      >Enter your email
      <p>To receive a reset password</p>
    </ion-title>
  </div>
  <form [formGroup]="resetForm">
    <div class="ion-padding">
    <ion-item>
      <ion-input type="email" formControlName="email" placeholder="Enter your email"></ion-input>
      <ion-icon name="mail-outline" slot="end"></ion-icon>
    </ion-item>
    <div
        *ngIf="this.resetForm.controls['email']?.touched && this.resetForm.controls['email']?.invalid"
      >
        <ion-text *ngIf="errorControl['email']?.errors?.['required']">
          Email is required
        </ion-text>
        <ion-text *ngIf="errorControl['email']?.errors?.['pattern']">
          Enter a valid email
        </ion-text>
      </div>
    <ion-fab vertical="bottom" horizontal="end" class="ion-margin-bottom">
      <ion-fab-button (click)="resetPassword()">
        <ion-icon name="chevron-forward"></ion-icon
      ></ion-fab-button>
    </ion-fab>
  </div>
  </form>
</ion-content>
