<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title>Reset Password</ion-title>
    <p>Change your password</p>
  </div>
  <form [formGroup]="form">
    <div class="ion-padding">
      <ion-item>
        <ion-input
          type="password"
          formControlName="password"
          placeholder="New password"
          class="input"
        ></ion-input>
        <ion-icon name="lock-closed-outline" slot="end"></ion-icon>
      </ion-item>
      <div
        *ngIf="this.form.controls['password']?.touched && this.form.controls['password']?.invalid"
      >
        <ion-text *ngIf="errorControl['password']?.errors?.['required']">
          Password is required
        </ion-text>
        <ion-text *ngIf="errorControl['password']?.errors?.['pattern']">
          Password must be 8 characters including uppercase, lowercase, symbol
          and number
        </ion-text>
      </div>
      <ion-item>
        <ion-input
          type="password"
          formControlName="confirmPassword"
          placeholder="Confirm password"
          class="input"
        ></ion-input>
        <ion-icon name="lock-closed-outline" slot="end"></ion-icon>
      </ion-item>
      <div
        *ngIf="this.form.controls['confirmPassword']?.touched && (this.form.controls['confirmPassword']?.invalid || this.form?.errors?.['PasswordNoMatch'])"
      >
        <ion-text *ngIf="errorControl['confirmPassword']?.errors?.['required']">
          Confimr-Password is required
        </ion-text>
        <ion-text
          *ngIf="this.form?.errors?.['PasswordNoMatch'] && !errorControl['confirmPassword']?.errors?.['required']"
        >
          Passwords do not match
        </ion-text>
      </div>
    </div>
    <ion-fab vertical="bottom" horizontal="end" class="ion-margin-bottom">
      <ion-fab-button
        (click)="onChangePassword()"
        [disabled]="this.form.invalid"
      >
        <ion-icon name="chevron-forward"></ion-icon
      ></ion-fab-button>
    </ion-fab>
  </form>
</ion-content>
